<h3><U>Particulars</U></h3>



  <img src = "{{items.photourl}}" alt="" height="200" width="200"/>
  <h4>Name    : {{items.name}}</h4>
<h4>UserId   : {{items.userid}}</h4> 
<h4>Email_Id: {{items.email}}</h4>
<h4>Block   : {{items.block}}</h4> 
<h4>Flat   : {{items.flat}}</h4> 
<h4>Role   : {{items.role}}</h4> 
<h4>Contact   : {{items.phonenumber}}</h4> 



<!-- <h4 id="urflat">Flat No: {{userDetails.flat}}</h4> 
<h4>ID_Proof: {{userDetails.id_proof}}</h4>
<h4>Role    : {{userDetails.role}}</h4>   -->
<br>

<button class="" [routerLink]="['/apartment/user-details/']" >Back</button> &nbsp;


<!--          
<table class="table table-hover table-bordered"> -->
    <!-- <tr id="bgcolor"> -->
         
  <!-- <tr> -->
    
  <!-- <td>{{profile}}</td> -->
  <!-- <td>{{Tenantinfo[0].Email_Id}}</td>
  <td>{{Tenantinfo[0].Block}}</td>
  <td>{{Tenantinfo[0].Flat}}</td>
  <td>{{Tenantinfo[0].ID_Proof}}</td>
  <td>{{Tenantinfo[0].Role}}</td>
  <td><a type="button" >Edit</a></td> -->


  <!-- <tr *ngfor="use of Tenantinfo",i as index>
    
   <td>{{use.Block}}</td> 
     <td>{{use.Flat}}</td> </tr> -->
   <!--  <td>{{use.ID_Proof}}</td>
    <td>{{use.Role}}</td>  -->
    <!-- <td>{{use.Reg_Date}}</td>  -->
   <!-- <td> <a  class="" routerLink='/apartment/detailsofuser'  style="color: blue">Edit</a></td>
    <td> <a routerLink="edit">Update</a></td> 
  
   <br> -->

  <!-- <tr *ngFor="let use of Tenantinfo">
  <td>{{use.Name}}</td>
  <td>{{use.Email_Id}}</td>
 <td>{{use.Block}}</td> 
   <td>{{use.Flat}}</td> 
  <td>{{use.ID_Proof}}</td>
  <td>{{use.Role}}</td> 
  <!-<td>{{use.Reg_Date}}</td>  -->
 <!-- <td> <a  class="" routerLink='/apartment/detailsofuser' (click)="updateUser(use)" style="color: blue">Edit</a></td>
  <td> <a routerLink="edit">Update</a></td> 
 </tr> -->
 <br> 
       
<!-- </table> -->

