
<table class="table table-hover table-bordered">
  
    <tr>
    <th>NAME</th>
    
    <th >Due</th>
    <th >Paid</th>
    <th >Balance</th>   </tr>
<!-- 
<tr *ngFor="let use of Year2022"> -->

  <!-- <td> <a  class="" [routerLink]="['/apartment/maintenance-details/' + use.MonthName]"
    (click)="monthInfo(use)" style="color: blue">{{use.MonthName}}</a></td>
   -->
    <!-- <td> <a  class="" [routerLink]="['/apartment/maintenance-details/' + use.MonthName]"
      (click)="monthInfo(use)" style="color: blue">{{use.MonthName}}</a></td> -->
      <!-- <td> <a  class="" [routerLink]="['/apartment/detailsofuser/' + use.Name]"
        (click)="updateUser(use)" style="color: blue">{{use.Name}}</a></td> -->

    <!-- <td>  <a class="" (click)="monthInfo(use)"  [routerLink]="['/apartment/maintenance-details/' ]" ></a></td>

     <td>{{use.due}}</td>
     <td>{{use.paid}}</td>
      <td>{{use.due-use.paid}}</td> </tr>  -->
   <!-- <td>Unpaid</td> -->
  <!-- </tr>

       <!-- <h2>[routerLink]="['/apartment/maintenance-details' + use.Year2022]"</h2> -->