
  <td> <button class="btn btn-outline-primary" routerLink="/apartment/addflat">Add</button>&nbsp;
   
</td> 

<table class="table table-hover table-bordered">
<thead>
<tr>
    <th> FLAT NO</th>
    <th> BLOCK </th>
    <th>ACTION</th>
    <th>UPDATE</th>
    <th>DELETE</th>
</tr>
</thead>

<tbody>
<tr *ngFor="let flat of flats  | paginate:{ itemsPerPage:3, currentPage: page,totalItems:totalLength };let i=index">
    <td>{{flat.flat}}</td>
    <td>   {{flat.block}}</td>
    
        <td> <a class="" [routerLink]="['/apartment/flatdetails/'+flat.id]">Details</a></td>

        <td><button type="button" class="btn btn-outline-warning" routerLink="/apartment/addflat/{{flat.id}}">Update</button></td> 
        
        
        <td> <button type="button" class="btn btn-outline-danger" (click)="deleteFlat(flat)">Delete</button></td> 
   
  
</tr>
</tbody>
</table>
<pagination-controls class="float:right"(pageChange)="page = $event"></pagination-controls>