<table class="table table-hover table-bordered">
    <tr>
        <th>FLAT</th>
        <th >NAME</th>
        <th >PAID</th>
     </tr>

<!--           
         <tr *ngFor="let use of Tenantinfo">
            <td >{{use.flat}}</td>
            <td >{{use.name}}</td> 
                  -->
            
              
                <!-- <tr *ngFor="let pay of VANITHA">
                <td >{{pay.PaidInOct}}</td>

                <tr *ngFor="let dueAmount of DHIVYA">
                    <td >{{dueAmount.PaidInOct}}</td> 
                 -->
                
        <!-- </tr> -->

<!-- 
        
    {{maintenanceDetails.PaidInOct}}
        {{maintenanceDetails.PaidInSep}}
        {{maintenanceDetails.PaidInAug}}
        {{maintenanceDetails.PaidInJuly}}
        {{maintenanceDetails.PaidInJune}}
        {{maintenanceDetails.PaidInMay}} 
          
          </tr>  -->
          
        </table>