



  <h1>admin login</h1>
    <!-- <c-col xs="12">
      <app-docs-callout href="charts">
        Angular wrapper component for Chart.js 3.6, the most popular charting library.
        <br>
      </app-docs-callout>
    </c-col> -->
    <!-- <c-row>
    <b><h2>YEAR:2021</h2></b>
    <c-col xs="12" lg="4">
      <c-card class="mb-4">
        <c-card-header>
           FLAT -A01 
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="flat1"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="4">
      <c-card class="mb-4">
        <c-card-header>
            FLAT -A02
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="flat2"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="4">
      <c-card class="mb-4">
        <c-card-header>
           FLAT -A03
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="flat3"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row> 
<c-row> 
    <c-col xs="12" lg="4">
      <c-card class="mb-4">
        <c-card-header>
           FLAT -A04
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="flat4"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" lg="4">
      <c-card class="mb-4">
        <c-card-header>
           FLAT -A05
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="flat5"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>

    <c-col xs="12" lg="4">
      <c-card class="mb-4">
        <c-card-header>
           FLAT -A06
        </c-card-header>
        <c-card-body>
          <c-chart type="bar" [data]="flat6"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>  -->
    <!-- <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Line Chart
        </c-card-header> -->
        <!-- <c-card-body> -->
          <!-- <c-chart type="line" [data]="chartLineData"></c-chart> -->
        <!-- </c-card-body> -->
      <!-- </c-card>
    </c-col> -->
  <!-- </c-row> -->
  <!-- <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Doughnut Chart
        </c-card-header>
        <c-card-body>
          <!-- <c-chart type="doughnut" [data]="chartDoughnutData"></c-chart> -->
        <!-- </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Pie Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="pie" [data]="chartPieData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  <c-row>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Polar Area Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="polarArea" [data]="chartPolarAreaData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
    <c-col xs="12" lg="6">
      <c-card class="mb-4">
        <c-card-header>
          Radar Chart
        </c-card-header>
        <c-card-body>
          <c-chart type="radar" [data]="chartRadarData"></c-chart>
        </c-card-body>
      </c-card>
    </c-col>
  </c-row> -->
